# IP de ton VPS
VPS_IP=192.162.71.167

# JWT
JWT_SECRET=change_moi_avec_un_secret_tres_long_et_aleatoire

# Mongo Express (interface d'admin MongoDB)
MONGO_EXPRESS_USER=admin
MONGO_EXPRESS_PASSWORD=change_moi_aussi
